html {
    background-image: url("../img/virginia-mesa-cuadrada-madera-verde.jpg");
    background-color: green;
}

p {
    background-image: url(../img/i78.jpg);
    background-repeat: no-repeat;
    background-position: center top; 
    text-align: justify;
    text-justify: inter-word;
    text-transform: lowercase;
    padding: 15px;
    color:blanchedalmond;
    border: 3px solid chartreuse;
    padding: 5px;   
    white-space: 200px;
}


h2{
    background-color:beige;
    color:green;
    padding: 5px;
    font: bold 20px monospace;
    border-style: solid;
    border-color: #ff0000 #00ff00 #0000ff;
}
h1{
    border-style: solid;
    border-bottom-color: coral;
}
strong{
    color: maroon;
}