html {
  background-image: url("img/123.jpg");
}
ul  {
  background-image: url('img/images1.jpg');
}
h3{
  background-color: #8ED2C9;
  font-family:  'Courier New', Courier, monospace;
  font-size: 100px;
  text-align: center;
  padding: 40px;
  line-height : 60px;
}

li {
  text-align : center;
  
}
.button{
  background-color: grey; 
  border: indigo;
  color: white;
  padding: 0px 10px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 10px;
  margin: 2px 2px;
  cursor: pointer;
}

  
  .cuentos a {
   
    min-width: 200px;
    line-height : 50px;
    text-align : center;
    text-decoration : underline;
    text-transform: uppercase;
    text-indent: 150px;
    color:yellow;
    text-align: center;
    font-family:  'Courier New', Courier, monospace;
    font-size: 30px;
  }
  