html{
    background-image: url(../img/5678.jpg);
    background-color: chocolate;
}
#fondo{
    background-image: url(../img/5678.jpg);
}

p {
    background-image: url(../img/do.jpg);
    background-repeat: no-repeat;
    background-position: center top; 
    text-align: justify;
    text-justify: inter-word;
    text-transform: uppercase;
    padding: 15px;
    color:black;
    border: 3px solid purple;
    padding: 5px;   
    white-space: 200px;
}


h2{
    background-color: springgreen;
    color:black;
    border-style:solid;
    border-bottom-style: inset;
    padding: 5px;
    font: bold 20px monospace;
   
}
h1{
    border-style: solid;
    border-bottom-color: coral;
}
strong{
    color: maroon;
}

 /*
    padding-top: 50px ;
    padding-bottom: 30px;
    padding-right: 60px;
    padding-left:  120px;
    
    padding: 50px 60px 30px 120px;

   padding: 50px 150px;
  
    border-top-color: blue;
    border-top-style: dotted;
    border-top-width: 50px;

    border-bottom: palevioletred solid 80px;
    border-right: black dotted 30px;
    border-left: green solid 10px;
    
    border: solid green 10px;
    margin-top: 1000px;*/
   





/*
p{
    color:red;
}
h1{
    color:aqua;
}
ol{
    color:crimson;
}
li{
    color:aqua;
}
ul{
    color:saddlebrown;
}
body{
    background:rebeccapurple;
}
strong{
    color:aqua;
    background: pink;
}
p{
    color:aqua;
    background: pink;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}
em{
    color:forestgreen;
    background: violet;
}
h2{
    color:yellow;
    background-color: green;
    font-size: 50px;

}
p{
    color:yellow;
    background:;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}*/

/*
div{
    background-color:crimson;
    height: 100px;
    width: 200px;  
    margin: 0px auto;
  
}
p{
    background-color: green;
   margin: 0px;
}
h1{
    background-color: yellow;
   margin: 0px;
}
body{
    margin: 0px;
    background-color: blue;
    width: 300px;
    margin: 0px auto;
    height: 600px;
}
html{
    background-color:pink;
   margin: 0px;
  
}*/
