#fondo{
    background-image:  url(../img/plaid.jpg);
    background-color: peru;
  
}

p {
    background-image: url(../img/index.png);
    background-position: center ; 
    color:black;
    border: 3px solid #0066ff;
    padding: 5px;   
    white-space: 200px;
    text-align: justify;

}


h2{
    background-color:beige;
    color:black;
    border-style:solid;
    border-radius: 20px;
    padding: 5px;
    font: bold 20px monospace;
}
.header {
    background-color: #FF6EB0;
    padding: 10px;
    text-align: center;
}
.right {
    position: absolute;
    right: 10px;
    width: 800px;
    border: 3px solid purple;
    padding: 60px;
  
}
h1{
    border-style: solid;
    border-bottom-color: coral;
}
strong{
    color: maroon;
}
