html{
    background-image: url("/home/usuario6/Desktop/tareacuentos1/img/09.jpg");
}
#fondo2{
   
    border:1px solid palevioletred;
  }
h1{
color: palevioletred;
}
h2{
    border-style: solid;
    border-bottom-color: coral;
}
strong{
    color: maroon;
}
em{
    color: midnightblue;
}