html {
    background-image: url("../img/hada.jpg");
    background-color: mediumvioletred;

}

p {
    background-image: url(../img/images9.jpg);
    background-repeat: no-repeat;
    background-position: center top; 
    text-align: justify;
    text-justify: inter-word;
    text-transform: lowercase;
    padding: 15px;
    color:black;
    border: 3px solid palevioletred;
    padding: 5px;   
    white-space: 200px;
}


h1{
    background-color:beige;
    color:palevioletred;
    padding: 5px;
    font: bold 20px monospace;
    border-bottom-style: groove;
    border-bottom-color: coral;
    border-bottom-width: 7px;
}
h2{
    border-style: solid;
    border-bottom-color: coral;
}
strong{
    color: maroon;
}