
html {
    background-color: black;
    background-image: url(../img/i45.png);
}

p {
    background-image: url(../img/cott.png);
    background-repeat: no-repeat;
    background-position: center top; 
    text-align: justify;
    text-justify: inter-word;
    text-transform: lowercase;
    padding: 15px;
    color:pink;
    border: 3px solid #0066ff;
    padding: 5px;   
    white-space: 200px;
}


h2{
    background-color:beige;
    color:palegreen;
    border-style:solid;
    border-radius: 20px;
    padding: 5px;
    font: bold 20px monospace;
}
h1{
    color: mistyrose;
    border-style: solid;
    border-bottom-color: coral;
}
strong{
    color:beige;
}